#btnrefresh {
    color: black;
    border: 0;
    background-color: white;
}

#captchaInput {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000000;
    font-size: 1.5rem;
    color: black;
    width: 60px;
    margin: 0;
    display: inline;
}

#captcha {
    color: black !important;
    border: none;
    font-weight: bold;
    width: 100px;
    background-color: white;
}
