footer {
    width: 100%;
    background-color: var(--black);
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

footer .column {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.gap{
    padding-left: 60px;
}
footer .column a.icon {
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 14px !important;
    color: #3399ff;
}

footer .column a.icon:hover {
    transform: scale(1.2);
}

footer .column .footer_title {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    cursor: default;
}

footer .column a {
    display: block;
    color: gray;
    font-size: 0.9em;
    padding: 5px 0;
    font-weight: 400;
    transition: 0.5s;
}

footer .column:not(:first-child) a:hover {
    color: #fff;
}

footer .column:nth-child(4) a:not(:first-child) {
    margin: 5px;
    display: inline-block
}

footer .column:nth-child(1) a:nth-child(3),
footer .column:nth-child(1) a:nth-child(4),
footer .column:nth-child(1) a:nth-child(5) {
    display: inline-block;
    margin: 10px;
    font-size: 1.3em;
    background: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: Center;
    border-radius: 50%;
    padding: 5px;
}

footer .column:nth-child(1) .fa-facebook-f {
    color: #3B5998;
}

footer .column:nth-child(1) .fa-instagram {
    color: #d62977;
}

footer .column:nth-child(1) .fa-twitter {
    color: #3399ff;
}

.sub-footer {
    background: #1e1e1e;
    padding: 5px 0;
    color: gray;
    font-size: 12px;
}

footer .fas {
    font-size: 14px;
}

@media (max-width:1100px) {
    footer .column:nth-child(1) a:nth-child(3),
    footer .column:nth-child(1) a:nth-child(4),
    footer .column:nth-child(1) a:nth-child(5) {
        width: 23px;
        height: 23px;
        font-size: 1.1em;
        margin: 6px;
    }
   
}

@media (max-width:820px) {
    footer .column:nth-child(1) {
        width: 95%;
        display: block;
    }
    footer .column:not(:first-child) {
        width: 40%;
    }
    footer .column:nth-child(4),
    footer .column:nth-child(5) {
        width: 95%;
        display: block;
    }
    footer .column:nth-child(1) a:nth-child(3),
    footer .column:nth-child(1) a:nth-child(4),
    footer .column:nth-child(1) a:nth-child(5) {
        width: 28px;
        height: 28px;
        font-size: 1.3em;
    }
    .gap{
        padding-left: 0px;
    }

}