body {
    background-image: url(../images/img/lander-top-corner.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right top;
    background-color: #edf3ff;
}

.card-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

img.preview {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-display:hover {
    transform: scale(1.05);
    transition: transform .5s, filter 0.5s ease-in-out;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 1rem;
    opacity: .9;
    transition: all .3s ease;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 1;
    transform: scale(1.05);
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    position: relative;
    color: #3a121b;
    margin: 3.5rem 0rem 2rem 1rem;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1rem;
    /* top: 2.5rem; */
    height: 4px;
    width: 80px;
    background: #164199;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.8;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-detail h2 {
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 2rem;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none; 
    background-size: 18px;
    padding-left: .2rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.purchase-info {
    margin: 2rem 1rem 2rem 0;
}

.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    outline: 0;
    cursor: pointer;
    color: #fff;
    background: #f64749;
}

.purchase-info .btn:hover {
    background: #fd0004;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.5rem;
    border-radius: 50%;
    /* font-size: 0.8rem; */
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 1124px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        margin-top: 5rem;
    }
    .card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
    }
    .product-content {
        margin-top: 50px;
    }
    .product-content p {
        font-size: large;
        color: rgb(15, 30, 58);
    }
    .product-content ul {
        font-size: large;
        color: rgb(15, 30, 58);
    }
}

@media screen and (max-width: 1123px) {
    .product-title {
        font-size: 2rem;
        font-weight: 700;
        position: relative;
        color: #3a121b;
        margin: 1rem 0;
    }
    .card {
        display: grid;
        grid-gap: 1.5rem;
        margin-top: 3rem;
    }
    .product-title {
        margin: 3.5rem 0rem 2rem 1rem;
    }
    .product-title::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1rem;
        /* top: 2.5rem; */
        height: 4px;
        width: 80px;
        background: #164199;
    }
    .product-content p {
        font-size: large;
        color: rgb(15, 30, 58);
    }
    .product-content ul {
        font-size: large;
        color: rgb(15, 30, 58);
    }
}

@media screen and (max-width: 500px) {
    .product-title::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1rem;
        /* top: 5rem; */
        height: 4px;
        width: 80px;
        background: #164199;
    }
    .product-title {
        line-height: 2rem;
    }
}