.search_bar {
    width: 70%;
    max-width: 700px;
    border: 2px solid var(--primary-dark);
    border-radius: 25px;
    transition: all 0.3s ease;
    backdrop-filter: blur(1px);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.search_bar:focus-within {
    width: 95%;
    max-width: 900px;
    border: 2px solid var(--primary-blue);
    backdrop-filter: blur(5px);
}

.search_bar>input,
.search_bar>input:focus {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: var(--third-dark);
}

.search_bar>input:focus+i {
    color: var(--primary-blue);
}

.search_bar>i {
    width: 25px;
    font-size: 2rem;
}